body {
      background-color: #bee2f7;
      color: rgb(241, 197, 197);
      text-align: center;
      margin-top: 100px;
      font-family: Arial, sans-serif;
    }

    #hoverText {
      font-size: 2.5rem;
      color: rgb(10, 10, 10);
      transition: all 0.5s ease;
    }

    .glow {
      text-shadow: 0 0 5px #e550f3,
                   0 0 10px #e550f3,
                   0 0 20px #e550f3,
                   0 0 30px #e550f3;
      color: #e550f3;
    }